* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #0A0A23;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

h1 {
  display: inline-block;
  font-size: 52px;
}

svg {
  fill: white;
  height: 40px;
  width: 32px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

main hr {
  margin-top: -25px;
  background-color: #F1BE32;
  height: 10px;
  width: 200px;
  border-color: #F1BE32;
}

main select {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

main p {
  font-size: 2rem;
}